client/node_modules/**
server/node_modules/**
server/bin/**
server/lmdb/**

key_gen/PUBLIC_KEY
key_gen/SECRET_KEY

web/admin/node_modules/mdi/**

ios/FollowMee.xcodeproj/project.xcworkspace/xcuserdata/**
ios/FollowMee.xcodeproj/project.xcworkspace/xcshareddata/**
ios/FollowMee.xcodeproj/xcuserdata/**

ios/Follow.xcworkspace/xcuserdata/**

~*

server/libuv/
server/s2/
server/sha1/
server/uWebSockets/
server/capnproto/
server/lmdb/