<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>773B7F2D1C5D60A500ED24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773B80121C5D616600ED24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773B80281C5D617F00ED24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773B803B1C5D619000ED24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC7726AE1A3853450007AEB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
