Kyrie1.xcodeproj/xcuserdata/**
GPUImage/GPUImage.xcodeproj/xcuserdata/erichocean.xcuserdatad/**
GPUImage/GPUImage.xcodeproj/xcuserdata/erich.xcuserdatad/**
Kyrie1.xcodeproj/project.xcworkspace/xcuserdata/**